@import '../../../styles/variables.scss';

.wrapper {
  position: relative;

  &:not(:first-child) {
    margin-top: 30px;
  }

  .invalidText {
    position: absolute;
    color: $danger;
    font-size: 15px;
    line-height: 1.6;
  }
}
