@import '../../styles/variables.scss';

.banner {
  display: flex;
  align-items: center;
  font-family: Roboto, sans-serif;

  .title,
  .description {
    flex: 1;
  }

  .title {
    font-size: 54px;
    line-height: 64px;
    font-weight: 600;
    margin: 0;

    span {
      color: $turquoise;
    }
  }

  .description {
    font-size: 18px;
    line-height: 30px;
    color: $dark-gray;

    p {
      margin: 0;

      &:not(:last-child) {
        margin-bottom: 18px;
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;

    .title {
      font-size: 40px;
      line-height: 50px;
      margin-bottom: 20px;
    }
  }
}
