@import '../../styles/variables.scss';

.button {
  display: inline-block;
  padding: 13px 27px;
  font-size: 15px;
  font-weight: 500;
  transition: 0.2s ease-in;
  line-height: 1;
  border: 1px solid $white;
  background-color: transparent;
  color: $white;
  cursor: pointer;

  &:hover,
  &:disabled {
    color: $dark-bg;
    background-color: $white;
  }
}
