@import './variables.scss';

.about {
  padding-top: 100px;

  .content {
    margin: 0 0 85px;
    display: flex;
  }

  .photo {
    flex: 1;
    margin-right: 60px;
    position: relative;
    height: 750px;
    border: 1px solid $dark-border;
    margin-top: 30px;

    .image {
      position: absolute;
      height: 750px;
      width: 100%;
      overflow: hidden;
      top: -30px;
      right: -30px;
    }
  }

  .info {
    flex: 1;
    margin-left: 30px;

    .aboutMe {
      margin-bottom: 20px;

      h3 {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 500;
      }

      p {
        font-family: $roboto-font;
        color: $dark-gray;
        font-size: 17px;
        line-height: 26px;
      }
    }
  }

  .skills {
    margin-bottom: 60px;
  }

  .buttons {
    button {
      padding: 0;
    }

    a {
      display: inline-block;
      padding: 13px 27px;
    }
  }

  @media (max-width: 1365px) {
    .content {
      padding-top: 15px;

      .photo {
        height: 600px;

        .image {
          height: 600px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    padding-top: 30px;

    .content {
      flex-direction: column;

      .photo {
        flex: auto;
        margin: 0 auto 50px;
        width: calc(60% - 15px);

        .image {
          width: 100%;
          top: -15px;
          right: -15px;
        }
      }

      .info {
        flex: auto;
        margin: 0;
      }
    }
  }

  @media (max-width: 767px) {
    .content {
      .photo {
        height: 410px;
        margin: 0 0 50px;
        width: calc(100% - 15px);

        .image {
          height: 410px;
        }
      }
    }
  }
}
