// bg
$dark-bg: #090b05;
$light-dark-bg: #111313;
$gray-bg: #505050;

//colors
$white: #ffffff;
$dark-white: #ffffffcc;
$light-gray: #dadada;
$gray: #ffffff80;
$dark-gray: #9a9a9a;
$turquoise: #03a696;
$danger: #e8252e;
$light-dark: #0d0f0f;
$black: #000000;

//borders
$dark-border: #c7c7c780;
$light-border: #c7c7c7;
$field-border: #343434;

//sizes
$header-height: 118px;
$header-height-mobile: 74px;

//fonts
$roboto-font: Roboto, sans-serif;
